*{
	box-sizing: border-box;
}

/* Remover el margen negativo de la sección */
section {
    padding-top: 70px; /* Cambia este valor según la altura de tu encabezado */
    
}

header {
    position: fixed; /* Fija el header en la parte superior */
    top: 0;
    left: 0;
    width: 100%; /* Hace que el header ocupe todo el ancho de la pantalla */
    background-color: #000; /* Fondo negro */
    border-bottom: 1px solid #ccc; /* Agrega un borde inferior para separación */
    z-index: 1000; /* Asegúrate de que el header esté por encima de otros elementos */
    height: 57px; /* Altura inicial del header (50px + 7px) */
    display: flex; /* Cambiado a flex para alinear elementos */
    justify-content: center; /* Centra horizontalmente los elementos */
    align-items: center; /* Centra verticalmente los elementos dentro del header */
    transition: height 0.3s; /* Transición suave para cambios de altura */
}

.container {
    display: flex; /* Utiliza flexbox para alinear los elementos */
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: space-between; /* Espacia los elementos entre sí */
    width: 100%; /* Asegura que el contenedor ocupe el 100% del ancho */
}

.barra {
    display: flex; /* Utiliza flexbox para alinear los enlaces */
    justify-content: center; /* Centra los enlaces horizontalmente */
    flex-grow: 1; /* Permite que el menú ocupe el espacio disponible */
}
.logo-icon {
    height: 80px; /* Ajusta la altura según sea necesario */
    margin-right: 20px; /* Espaciado entre el icono y la barra de navegación */
    align-self: center; /* Centra verticalmente el ícono en el contenedor */
}


.barra a {
    margin: 0 25px; /* Espaciado entre los enlaces */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: #fff; /* Color blanco para los enlaces */
    font-weight: 400; /* Cambiado a un peso de fuente más delgado */
    font-size: 18px; /* Tamaño de fuente más grande para los enlaces */
}


.barra a:hover {
    text-decoration: underline; /* Agrega subrayado al pasar el ratón */
}

.hamb {
    display: none; /* Oculta el ícono del menú hamburguesa por defecto */
    color: #fff; /* Color blanco para el ícono hamburguesa */
}

/* Estilo para la sección de inicio */
#inicio {
    position: relative; /* Permite que los elementos hijos se posicionen en relación con este contenedor */
    overflow: hidden; /* Asegura que cualquier contenido que se desborde se oculte */
    display: flex; /* Utiliza flexbox para alinear elementos */
    flex-direction: column; /* Apila los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
}

/* Estilo para la imagen */
.inicio-img {
    width: 100%; /* Hace que la imagen ocupe todo el ancho del contenedor */
   
    object-fit: cover; /* Cubre el área de la imagen sin distorsionar su aspecto */
}

.contain {
    background-color: black; /* Fondo negro */
    color: white; /* Color de la letra blanco */
    height: 200px;
	
}

.seccionNo {
    color: white; /* Color de la letra blanco */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
   /* Centra verticalmente */
    height: 200px; /* Altura fija de 200px para la sección */
}

.contain {
    background-color: black; /* Fondo negro para el contenedor */
    color: white; /* Color del texto dentro del contenedor */
    display: flex; /* Usamos flexbox */
    flex-direction: column; /* Apila el h1 y p verticalmente */
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
    height: 200px; /* Altura del contenedor */
    padding: 0 40px; /* Añade un margen a ambos lados para que el texto no esté pegado al borde */
}

.titulos {
    color: gold; /* Color dorado para el título */
    text-align: center; /* Centra el texto del título */
    font-size: 28px; /* Ajusta el tamaño del título */
    margin-bottom: 20px; /* Espacio entre el título y el párrafo */
	margin-top: -20px;
}

.contain p {
    color: white; /* Texto blanco */
    text-align: center; /* Centra el texto */
    font-size: 18px; /* Ajusta el tamaño del texto */
    margin: 0 20px; /* Margen considerable a ambos lados del párrafo */
}


.serv {
    text-align: center; /* Centra el texto dentro del div */
    padding: 30px 0; /* Añade espaciado vertical para darle más presencia */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Sombra para dar profundidad */
}

.serv h1 {

    font-size: 36px; /* Tamaño de fuente grande */
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
    letter-spacing: 2px; /* Espaciado entre letras para mayor impacto */
    margin: 0; /* Elimina el margen por defecto */
    font-weight: bold; /* Hace el texto más grueso */
}

.seccionser{
	margin-top: -70px;
}





.row{
	margin-left: -15px;
	margin-right: -15px; 
	display: flex;
	flex-wrap: wrap;
}

.columna{
	padding-right: 15px;
	padding-left: 15px;
}
.columna-33{
	width: 33.33%;
}
#servicios .bloque-servicio{
	border: 1px solid rgb(0, 0, 0); 
}
#servicios .bloque-servicio .bloque-img-servicio img{
	width: 100%;
}
#servicios .bloque-servicio .bloque-contenido-servicio{
	padding: 15px;
}
#servicios .bloque-servicio .bloque-contenido-servicio h3{
	margin-top: 0;
	font-size: 25px;
}
.boton.boton-banco{
    color: black;
	background-color: white;
	font-size: 15px;
	font-weight: bold;
	
}


.container-fluid{
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}

#contactanos{
	position: relative;
}
#contactanos iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	filter: grayscale(1);
}
.columna-50{
	width: 50%;

}
.empujar-50{
	margin-left: 50%;
}
.empujar-0{
	margin-left: 0;
}
#contactanos form{
	padding: 60px;
	background-color: black;
}
#contactanos form .form-block{
	width: 100%;
	margin-bottom: 15px;
}
#contactanos form .form-block .form-control{
	display: block;
	height: 40px;
	font-size: 16px;
	border: 1px solid grey;
	width: 100%;
	padding: 5px 10px;
}
#contactanos form .form-block textarea{
	display: block;
	height: 100px;
	font-size: 16px;
	border: 1px solid grey;
	width: 100%;
	padding: 5px 10px;
}
#contactanos form .form-block.bloque-ultimo{
	margin-bottom: 0;
}
.boton.boton-negro{
    color: rgb(255, 255, 255);
	background-color: black;
	font-size: 15px;
	font-weight: bold;
	border: 1px solid rgb(255, 255, 255);
}footer {
    background-color: black;
    color: white;
    padding: 40px 0; /* Añade espacio arriba y abajo del footer */
}

footer .barra-footer {
    background-color: grey;
    text-align: center;
    padding: 10px 15px; /* Ajusta el padding para no ser tan grande */
    font-size: 14px; /* Tamaño de fuente más pequeño para el copyright */
}

footer .containerf {
	
    max-width: 1200px;
    margin: 0 auto; /* Centra el contenido horizontalmente */
    padding: 0 15px; /* Espaciado lateral */
}
.row{
	padding-bottom: 60px;
}

.columna-25 {
    width: 33%;
    padding: 15px; /* Añade un poco de espacio interno */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho */
}

footer ul {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}

footer .logo-footer {
    width: 100%;
}

footer p {
    color: white;
    margin-bottom: 20px;
}

footer a {
    color: white;
    text-decoration: none; /* Elimina subrayado en los enlaces */
}

footer ul li {
    margin-bottom: 10px;
    text-align: left; /* Ajusta la alineación del texto a la izquierda */
    margin-left: 0; /* Elimina el margen negativo para mejor alineación */
}

.white {
    font-family: 'Bowlby One SC', cursive;
    font-size: 36px; /* Reduce el tamaño de fuente para mejor legibilidad */
    margin-top: -20px;
    text-align: center; /* Centra el texto */
}

.redes {
    font-size: 24px; /* Ajusta el tamaño de los íconos de redes sociales */
    display: flex;
    justify-content: center; /* Centra los íconos horizontalmente */
    gap: 15px; /* Añade separación entre los íconos */
}

.redes i {
    font-size: 30px; /* Tamaño de íconos de redes sociales */
}

.centro {
    margin-top: 10px; /* Ajusta el margen superior */
    font-family: 'Amatic SC', cursive;
    font-size: 20px; /* Ajusta el tamaño de fuente */
    text-align: center; /* Centra el texto de contacto */
    list-style: none; /* Elimina las viñetas */
    padding-left: 0; /* Elimina el padding por defecto */
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinea los elementos hijos al centro */
}

.centro li {
    margin-bottom: 10px; /* Espaciado entre los elementos de la lista */
    text-align: center; /* Centra el texto dentro de cada elemento de la lista */
}


.centrod {
    font-size: 25px; /* Reduce el tamaño de los títulos */
    text-align: center; /* Centra los títulos */
}

.centrode {
    margin-top: -10px; /* Ajusta el margen superior */
    font-size: 20px; /* Ajusta el tamaño del texto */
    text-align: center; /* Centra el texto */
}


#galeria .columna-33 {
    padding: 10px;
}

#galeria .cuadrado-perfecto {
    position: relative;
    overflow: hidden;
}

#galeria .cuadrado-perfecto img {
    width: 100%;
    height: auto;
    display: block;
    /* Mantén el filtro y la transición */
    filter: grayscale(1);
    transition: filter 0.5s ease;
}

#galeria .cuadrado-perfecto:hover img {
    filter: grayscale(0);
}


.secciconcontact {
    width: 100%; /* La sección ocupará todo el ancho disponible */
    height: 400px; /* La sección ocupará todo el alto de la ventana */
    display: flex;
    justify-content: center; /* Centra el mapa horizontalmente */
    align-items: center; /* Centra el mapa verticalmente */
}

#gmap_canvas {
    width: 100%; /* El mapa ocupará el 100% del ancho de la sección */
    height: 100px; /* El mapa ocupará el 100% del alto de la sección */
    border: 0; /* Elimina el borde del iframe */
}



@media(max-width: 767px){
	body{
		font-size: 15px;
	}
	header .container nav{
		position: fixed;
		background-image: url(img/prueba.jpg.crdownload);
		/* Aquí el origen de la imagen */
		/* Fijar la imagen de fondo este vertical y
		  horizontalmente y centrado */
		background-position: center center;
	  
		/* Esta imagen no debe de repetirse */
		background-repeat: no-repeat;
	  
		/* COn esta regla fijamos la imagen en la pantalla. */
		background-attachment: fixed;
	  
		/* La imagen ocupa el 100% y se reescala */
		background-size: cover;
	  
		/* Damos un color de fondo mientras la imagen está cargando  */
		background-color: #464646;
		height: 100%;
		width: 100%;
		padding-top: 80px;
		padding-bottom: 80px;
		padding-left: 15px;
		padding-right: 15px;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		transition: all 0.2s ease;
		transform: translateX(100%); 
	}
	
	header .container nav.open{
		transform: translateX(0); 
	}
	header .container nav a{
		font-size: 30px;
		margin: 15px 0;
	}
	header .container .hamb{
		display: block;
		font-size: 40px;
		color: rgb(145, 145, 145);
	}
	form .boton.boton-negro{
		width: 100%;
	}
	
	footer .logo-footer{
		width: 60%;
	}
	footer {
		text-align: center;
	}

	.centro{
		display: flex;
		flex-direction: column;
		justify-content:  center;
		align-items: center;
		margin-top: -15px;
		font-family: 'Amatic SC', cursive;
		font-size: 25px;
	}
	
	.centrod{
		margin-top: -15px;
		margin-bottom: 30px;
		font-size: 25px;
	}

	.container{
		width: 100%;

	}
	.columna-mobile-100{
		width: 100%;
		font-size: 25px;
	}
	.columna-mobile-50{
		width: 50%;
	}
	#inicio{
		height: 100vh;
	}
	#inicio img {
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
	
	#contactanos iframe{
		position: relative;
		height: 50vh;
	}
	#contactenos{
		padding: 0;
	}
	.empujar-mobile-0{
	margin-left: 0;

	}
	.sinpadding-mobile{
	padding: 0;
	}
	footer .redes{
		font-size: 30px;
		display: flex;
		justify-content: center;	
    }
    footer .redes a{
	    margin: 0 35px;	
	}
	
	.bloque-inicio  h1, .bloque-inicio  p{
		color: rgb(255, 255, 255);
	}
	.white{
		font-family: 'Bowlby One SC', cursive;
		font-size: 40px;
		margin-top: -30px;
	}
	.centrode{
		margin-top: -45px;
		margin-bottom: 15px;
	}
	.bloque-servicio{
		margin-top: 10px;
	}
	header .container nav a{
		color: rgb(255, 255, 255);
		text-decoration: none;
		margin: 0 20px;
		font-size: 25px;
		font-family: 'Bowlby One SC', cursive;
		margin-top: 10px;
	}
	
	
}



